#main {
 background-color: #b9c6bc;
 min-height: 100vh;
}

#title {
margin-bottom: 30px;
border-bottom: 1px solid black;
padding: 10px;
background-color: #d5ddd7;
text-align: center;
}
.box-title {
  text-align: center;
}
#editor {
  padding: 10px;
  background-color:	#2e3830 ;
  color: #ffff;
  width: 100%;
  height: 600px;
  border-radius: 4px;
}
#preview {
  padding: 10px;
  background-color: #f1f4f1;
  height: 600px;
  border-radius: 4px;
  overflow: auto;
  margin-bottom: 10px;
}
.well {
  height: 600px;
  overflow: auto;
}

@media (max-width: 576px) {
  #main {
    height: 100%;
  }
  #editor {
    height: 400px;
  }
  #preview, .well{
    height: 400px;
  }
  .previewtitle {
    margin-top: 0.6em;
  }
}
